/* ------------------------------------------------------------------------------------GLOBAL------------------------------------------------------------------------------------ */
body {
  background: #ffffff;
  font-family: sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.container .col {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.main_wrapper {
  margin: auto;
}

/* ------------------------------------------------------------------------------------HEADER------------------------------------------------------------------------------------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
}

.title {
  display: flex;
  padding-bottom: 5px;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 0 0;
}

/* ------------------------------------------------------------------------------------NAVIGATION------------------------------------------------------------------------------------ */
nav ul {
  text-align: left;
  font-family: sans-serif;
  color: #000000;
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 20px;
  color: #000000;
  padding-bottom: 3px;
  text-decoration: none;
}

.image_background {
  width: 100%;
  object-fit: cover;
}

.image_background img {
  height: calc(100vh - 50px);
}

.subtitle {
  display: flex;
  position: absolute;
  color: white;
  bottom: 0;
  margin: 10px;
}

h2 {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------TEXT------------------------------------------------------------------------------------ */
.container .col .text1 {
  margin: 25px 0 25px 45px;
  line-height: 25px;
}

.container .col .text2 {
  margin: 25px 45px 25px 0;
  line-height: 25px;
}

/* ------------------------------------------------------------------------------------ PROJECTS------------------------------------------------------------------------------------ */
.container .col .box {
  width: 100%;
  height: 0;
  padding-bottom: 61.803398875%;
  position: relative;
}

.container .col .project {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.container .col .projet1 {
  background: url("../assets/projet1.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .projet2 {
  background: url("../assets/projet2.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .projet3 {
  background: url("../assets/projet3.jpg") no-repeat center center;
  background-size: cover;
}

.subtitle_project {
  display: flex;
  margin: 10px;
  margin-bottom: 100px;
}

.subtitle_project h2 {
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------SIGN-UP------------------------------------------------------------------------------------ */
.container .color {
  background-color: #08fa9a;
  width: 100%;
  margin-bottom: 150px;
}

.container .col .item {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  position: relative;
}

.container .col .item .newsletter {
  position: absolute;
  left: 200px;
  top: 100px;
}

.newsletter p {
  font-size: 20px;
  font-weight: bold;
}

.container .col .item .sign-up {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 320px;
}

/* ------------------------------------------------------------------------------------TEAM------------------------------------------------------------------------------------ */
.container .col .oval {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.container .col .oval .member-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  border-radius: 50%;
}

.container .col .oval .portrait1 {
  background: url("../assets/portrait1.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait2 {
  background: url("../assets/portrait2.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait3 {
  background: url("../assets/portrait3.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait4 {
  background: url("../assets/portrait4.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait5 {
  background: url("../assets/portrait5.jpg") no-repeat center center;
  background-size: cover;
}

.we-are {
  display: flex;
}

.we-are .color {
  background-color: #000000;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
}

.we-are h2 {
  font-size: 15px;
  font-weight: lighter;
  color: #ffffff;
  margin: auto;
}

/* ------------------------------------------------------------------------------------FOOTER------------------------------------------------------------------------------------ */
.container .col .contact p {
  font-size: medium;
}

.container .col .link p {
  font-size: medium;
}

.container .col .place p {
  font-size: medium;
}
