:root {
  --slider-width: 450px;
  --slide-count: 5;
}

/* ------------------------------------------------------------------------------------GLOBAL------------------------------------------------------------------------------------ */
body {
  background: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.scroll-locked {
  position: fixed;
}

.container .col {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

/* ------------------------------------------------------------------------------------HEADER------------------------------------------------------------------------------------ */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
}

.title-studio-alto {
  display: flex;
}

h1 {
  font-size: 2rem;
  font-weight: 400;

}

#header-mobile {
  display: none;
}

#header-mobile .burger-menu {
  background: url("../assets/burgerMenu.svg") center center no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.menu-mobile {
  position: absolute;
  height: 100vh;
  width: 100%;
  line-height: 100px;
  background-color: white;
  display: none;
}


.menu-mobile.open {
  display: block;
}

.menu-mobile .menu-mobile-header {
  display: flex;
  justify-content: flex-end;
}

.menu-mobile .menu-mobile-header .cross-menu {
  background: url("../assets/crossMenu.svg") center center no-repeat;
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------NAVIGATION------------------------------------------------------------------------------------ */
nav ul {
  text-align: left;
  font-weight: 400;
  color: #000000;
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 15px;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 20px;
  color: #000000;
  padding-bottom: 3px;
  text-decoration: none;
}



/* ------------------------------------------------------------------------------------SECTION-IMAGE-BACKGROUND------------------------------------------------------------------------------------ */


.image_background img {
  height: calc(100vh - 50px);
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.subtitle {
  display: flex;
  position: absolute;
  color: white;
  bottom: 0;
  padding: 10px;
}

h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------TEXT------------------------------------------------------------------------------------ */
.container .col .text1 {
  line-height: 25px;
}

.container .col .text2 {
  line-height: 25px;
}

/* ------------------------------------------------------------------------------------PROJECTS------------------------------------------------------------------------------------ */
.container .col .box {
  width: 100%;
  height: 0;
  padding-bottom: 61.803398875%;
  position: relative;
}

.container .col .project {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.container .col .project1 {
  background: url("../assets/project1.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .project2 {
  background: url("../assets/project2.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .project3 {
  background: url("../assets/project3.jpg") no-repeat center center;
  background-size: cover;
}



/* ------------------------------------------------------------------------------------SLIDER------------------------------------------------------------------------------------ */
.slider-wrapper {
  width: 470px;
  height: 330px;
  border: 2px solid #151615;
  position: relative;
}

.slider-container {
  width: var(--slider-width);
  height: 320px;
  margin-left: -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.slider-container .slider {
  position: relative;
  height: 450px;
  width: calc(var(--slider-width) * var(--slide-count));
  transition: transform 1.5s;
}

.next,
.prev {
  position: absolute;
  top: 43%;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #000;
  background: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  z-index: 20;
}

.prev {
  left: -15%;
}

.next {
  left: 105%;
}

.next:hover,
.prev:hover {
  background-color: #151615;
  color: #fff;
}





.subtitle_project {
  display: flex;
  margin: 10px;
  margin-bottom: 100px;
}

.subtitle_project h2 {
  font-weight: bold;
}


/* ------------------------------------------------------------------------------------NEWSLETTER------------------------------------------------------------------------------------ */
.bg-green {
  background-color: #08fa9a;
  margin-bottom: 150px;
  padding: 3%;
}

.container .col .newsletter, .container .col .sign-up-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.container .col .newsletter {
  justify-content: flex-end;
}

.newsletter p {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.btn {
  background-color: black;
  color: white;
}

/* ------------------------------------------------------------------------------------TEAM------------------------------------------------------------------------------------ */
.container .col .oval {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.container .col .oval .member-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  border-radius: 50%;
}

.container .col .oval .portrait1 {
  background: url("../assets/portrait1.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait2 {
  background: url("../assets/portrait2.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait3 {
  background: url("../assets/portrait3.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait4 {
  background: url("../assets/portrait4.jpg") no-repeat center center;
  background-size: cover;
}

.container .col .oval .portrait5 {
  background: url("../assets/portrait5.jpg") no-repeat center center;
  background-size: cover;
}

.section-we-are {
  display: flex;
}

.we-are-bg {
  background-color: #000000;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 10px;
}

.subtitle-we-are h2 {
  font-size: 15px;
  font-weight: lighter;
  color: #ffffff;
  margin: auto;
}

/* ------------------------------------------------------------------------------------FOOTER------------------------------------------------------------------------------------ */
.container .col .contact p {
  font-size: medium;
}

.container .col .link p {
  font-size: medium;
}

.container .col .place p {
  font-size: medium;
}







/* ------------------------------------------------------------------------------------RESPONSIVE------------------------------------------------------------------------------------ */
@media only screen and (max-width: 765px) {

  /* ------------------------------------------------------------------------------------GLOBAL------------------------------------------------------------------------------------ */
  .container .col {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* ------------------------------------------------------------------------------------HEADER------------------------------------------------------------------------------------ */
  #header-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
  }

  .title h1 {
    display: none;
  }


  .subtitle h2 {
    font-size: 20px;
  }

  /* ------------------------------------------------------------------------------------NAVIGATION------------------------------------------------------------------------------------ */
  .nav-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: none;
  }

  /* ------------------------------------------------------------------------------------TEXT------------------------------------------------------------------------------------ */
  .section-text .container {
    flex-direction: column;
  }

  /* ------------------------------------------------------------------------------------ PROJECTS------------------------------------------------------------------------------------ */
  .section-projects .container .col:nth-child(2), .section-projects .container .col:nth-child(3) {
    display: none;
  }

  .subtitle_project h2 {
    font-size: 20px;
  }

  .subtitle_project {
    margin-bottom: 20px;
  }

  /* ------------------------------------------------------------------------------------NEWSLETTER----------------------------------------------------------------------------------- */
  .section-newsletter .container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .container .newsletter p {
    margin: auto;
    padding: 20px;
  }

  .container .sign-up {
    margin: auto;
    padding: 20px;
  }

  .sign-up p {
    display: none;
  }

  /* ------------------------------------------------------------------------------------TEAM------------------------------------------------------------------------------------ */
  .section-team .container .col:nth-child(2), .section-team .container .col:nth-child(3), .section-team .container .col:nth-child(4) {
    display: none;
  }

  .section-team .container .col:nth-child(5), .section-team .container .col:nth-child(1) {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
  }

  .section-we-are {
    display: none;
  }

  /* ------------------------------------------------------------------------------------FOOTER------------------------------------------------------------------------------------ */
  .footer-contact .container .col:nth-child(1) p, .footer-contact .container .col:nth-child(2), .footer-contact .container .col:nth-child(3) {
    display: none;
  }

  .footer-contact .container .col .contact h4 {
    font-size: 20px;
  }
}
